<div class="registrationForm">
  <form #signupform ="ngForm" (ngSubmit)="signup(signupform)">
    <input type="text" name="firstName" placeholder="First Name" ngModel>
    <input type="text" name="lastName" placeholder="Last Name" ngModel>
    <input type="email" name="email" placeholder="Email" ngModel>
    <input type="Number" name="mobileNumber" placeholder="Mobile Number" ngModel>
    <input type="Number" name="mobileNumber" placeholder="Mobile Number" ngModel>
    <br>
    <button type="submit">Sign Up</button>
  </form>
</div>

